@import "_normalize.scss";
@import "_variables.scss";

* {
	box-sizing: border-box;
}

body {
	font: 16px "Source Sans Pro", Helvetica, sans-serif;
	color: $color-darker;
	line-height: 18px;
	width: 1600px;
	margin:0 auto;
	background-color: white;

	@media print {
		color: black !important;
	}

	a {
		text-decoration: none;
		color: $color-dark;
		@media print {
			display: none;
		}
	}

	h1 {
		text-align: center;
	}

	h2 {
		margin: 10px 10px 5px 10px;
	}

	h3 {
		margin: 5px;
		text-align: center;
	}

	form, nav, h2, .print-hidden {
		@media print {
			display: none;
		}
	}

	.print-only {
		display: none;
		@media print {
			display: unset;
		}
	}

	.print-hidden {
		@media print {
			display: none;
		}
	}

	table {
		border: 1px dashed $color-dark;
		@media print {
			border: 2px solid black;
		}
		margin: 0 auto;
		margin-bottom: 5px;
		border-collapse: collapse;
		border-spacing: 0;
		thead {
			background-color: $color-dark;
			color: $color-white;
		}
		td,th {
			padding: 2px 4px;
			text-align: center;
		}
	}

	.columns2 {
		columns: 2;
		column-gap: 5px;
	}

	.columns3 {
		columns: 3;
		column-gap: 5px;
	}

}

@import "_menu.scss";
@import "_rule.scss";
@import "_unit.scss";

