
body {
	header{ 
		background-color: red;
		nav.menu {
			ul {
				display: flex;
				padding: 0;
				margin: 0;
				justify-content: space-between;
 				border-bottom: 2px solid black;
				li {
					list-style: none;
					a {
						padding: 5px 10px;
						display: block;
					}
					ul {
						display: none;
						flex-direction: column;
						position: absolute;
						background-color: red;
						border-left: 2px solid black;
						border-right: 2px solid black;
						&.open {
							display: flex;
						}
					}
				}
			}
			
		}
	}
}
