@import "_variables.scss";

div.rule {
	border: 1px dotted $color-dark;
	padding: 5px;
	break-inside: avoid;
	@media print {
		border: 2px solid black;
	}
	span {
		margin-right: 5px;
		font-weight: bold;
	}
	img {
		height: 18px;
		vertical-align: bottom;
	}
	p:first-of-type {
		display: inline;
	}
	ol, ul {
		margin: 0;
	}

	.fa.underline, .ra.underline {
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}
