@import "_variables.scss";

div.rule {
	border: 1px dashed $color-dark;
	padding: 5px;
	break-inside: avoid;
	@media print {
		border: 2px solid black;
	}
	span {
		margin-right: 5px;
		font-weight: bold;
	}
	p:first-of-type {
		display: inline;
	}
	ol {
		margin: 0;
	}
}
