@import "_variables.scss";

article.unit {
	border: 1px solid $color-theme-dark;
	margin: 5px;

	&>header {
		background-color: $color-theme;
		color: $color-theme-white;
		padding: 0px 2px 3px 2px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		span {
			flex-grow: 1;

			&:last-child {
				text-align: right;
			}
		}

		a {
			color: $color-theme-white;
		}
	}

	&>main {
		position: relative;

		div.bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			opacity: 0.2;
			z-index: -1;
		}

		table {
			border: 1px solid $color-theme-dark;
			border-collapse: collapse;
			margin: 5px auto;

			thead {
				background-color: #50482d;
				color: $color-theme-white;
			}

			td,
			th {
				text-align: center;
				border-left: 1px solid $color-theme-dark;
			}

		}

		p {
			margin: 0 0 8px 0;
		}

		ul {
			margin: 0 0 8px 0;
			padding-left: 20px;
		}

		div.options {
			@media (max-width: $width-mobile) {
				display: none;
			}
		}

		div.composition,
		div.options {
			margin: 5px;
		}

		article.rule {
			margin: 5px;

			&>header {
				padding: 1px 1px 3px 3px;

				img {
					height: 18px;
					margin: 1px 5px 1px 3px;
					float: left;
				}

				span.cost {
					float: right;
					background-color: white;
					color: black;
					padding: 4px;
					margin: -4px 1px;
				}
			}

			&>main {
				padding: 5px;
			}

			&.hidden {

				main>*,
				footer {
					display: none;
				}

				main>p:first-child {
					display: unset;
				}
			}

			&.shot,
			&.passifblue {
				border: 1px solid #053d53;

				span.cost {
					border: 1px solid #053d53;
				}

				header,
				footer {
					background-color: #053d53;
					color: $color-theme-white;
				}
			}

			&.hero {
				border: 1px solid #886e29;

				span.cost {
					border: 1px solid #886e29;
				}

				header,
				footer {
					background-color: #886e29;
					color: $color-theme-white;
				}
			}

			&.charge {
				border: 1px solid #9d4d1f;

				span.cost {
					border: 1px solid #9d4d1f;
				}

				header,
				footer {
					background-color: #9d4d1f;
					color: $color-theme-white;
				}
			}

			&.end {
				border: 1px solid #502e5b;

				span.cost {
					border: 1px solid #502e5b;
				}

				header,
				footer {
					background-color: #502e5b;
					color: $color-theme-white;
				}
			}

			&.passif,
			&.deploy,
			&.startround,
			&.startturn {
				border: 1px solid #12100d;

				span.cost {
					border: 1px solid #12100d;
				}

				header,
				footer {
					background-color: #12100d;
					color: $color-theme-white;
				}
			}

			&.battle {
				border: 1px solid #731516;

				span.cost {
					border: 1px solid #731516;
				}

				header,
				footer {
					background-color: #731516;
					color: $color-theme-white;
				}
			}

			&.movement {
				border: 1px solid #686361;

				span.cost {
					border: 1px solid #686361;
				}

				header,
				footer {
					background-color: #686361;
					color: $color-theme-white;
				}
			}

			&.passifgreen,
			&.battlegreen {
				border: 1px solid #33431a;

				span.cost {
					border: 1px solid #33431a;
				}

				header,
				footer {
					background-color: #33431a;
					color: $color-theme-white;
				}
			}
		}
	}

	footer {
		background-color: $color-theme;
		color: $color-theme-white;
		padding: 0px 1px 3px 5px;
		;

		span:not(:last-child)::after {
			content: ',';
		}
	}

	&#title {
		&>header {
			text-align: center;
		}
	}


}