@import "_variables.scss";

article.unit, article.bataillon  {
	@media print {
		border: 2px solid black;
	}
	border: 1px dashed $color-dark;
	margin-bottom: 5px;
	break-inside: avoid;
	header {
		padding: 5px;
		background-color: $color-dark;
		color: $color-white;
		margin-bottom: 5px;
		span {
			float: right;
			img {
				height: 18px;
				&.opt {
					opacity: 70%;
				}
			}
		}
		a {
			color: $color-white;
		}
	}
	main {
		div.rules {
			display: none;
			@media print {
				display: unset;
			}
			margin: 0 5px 5px 5px;
			span:not(:last-child)::after {
				content: ',';
			}
		}
		div.rule {
			margin: 0 5px;
		}
		div.rule:last-child {
			margin: 0 5px 5px 5px;
		}
	}
	footer {
		background-color: $color-mid;
		color: $color-white;
		padding: 5px;
		span:not(:last-child)::after {
			content: ',';
		}
	}
}