
/**


#003246

#E4491C

#0387B1

#F5F5F5


*/

$width-content: 1200px;
$width-mobile: 450px;

$color-theme-alt: #E4491C;
$color-theme: #0387B1;
$color-theme-dark: #003246;
$color-theme-white: #F5F5F5;

