@import "_normalize.scss";
@import "_variables.scss";

* {
	box-sizing: border-box; 
}

body {
	color: $text-color;
	font: 16px "Source Sans Pro", Helvetica, sans-serif;
	line-height: 22px;
	background-color: white;
	
	a {
		color: $text-color;
		text-decoration: none;
		@media print {
			display: none;
		}
	}
	
	select {
		@media print {
			display: none;
		}
	}

	& > header > nav, & > main, & > footer {
		width: 1000px;
		margin: 0 auto;
		padding: 5px 10px;
	}
	
	& > header {
		background-color: $header-color;
		color: $text-header-color;
		a {
			color: $text-header-color;
			&:hover {
				color: $primary-color;
			}
		}
		& > nav > ul { 
			display: flex;
			align-items: center;
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				margin: 0 25px;
				font-size: 18px;
				&.current a {
					color: $footer-color;
				}
			}
		}
		
		span.load {
			position: relative;
			input[type=file] {
				opacity: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}

		
		@media print {
			display: none;
		}
	}
	
	& > main {
		background-color: $background-color;
		p {
			text-align: justify;
		}
		strong {
			font-variant: small-caps;
		}
	}
	
	& > footer {
		padding-bottom: 35px;
		background-color: $footer-color;
		color: $text-footer-color;
		text-align: center;
		a {
			color: $text-footer-color;
		}
	}

	div.error {
		color: $text-header-color;
		background-color: $header-color;
		padding: 5px;
		margin: 10px;
	}
	
	h1 {
		text-align: center;
	}
	
	h2 span, h3 span {
		float: right;
	}
	
	h3 img {
		vertical-align: bottom;
		margin-right: -5px;	
		height : 28px;
	}
	
	div.options {
		margin-top: 5px;
		@media print {
			display: none;
		}
		span {
			display: inline-block;
			margin-right: 10px;
		}
		select {
			width: 192px;
		}
	}
	
	div.rule {
		margin-bottom: 10px;
		page-break-inside: avoid;
		
		h3 {
			display: inline;
		}
		p:first-of-type {
			display: inline;
		}
		&:after {
			clear: both;
		}
	
		&>em:not(:last-of-type)::after {
			content: ', ';
		}
	}
	
	div.multirule {
		border: 1px dashed $primary-color ;
		margin-bottom: 10px;
		page-break-inside: avoid;
		& > h3 {
			margin: 0;
			padding: 10px;
			background-color: $primary-color;
			text-align: center;
			color: $secondary-color;
		}
		div.rule {
			margin : 5px;
		}
	}

	article.listing {
		margin-top: 10px;
		header h2 {
			margin: 0;
			small {
				vertical-align: super;
			}
		}
	}
	
	article.unit-config {
		border: solid 1px darkgray;
		padding: 5px;
		background: white;
		margin-top: 5px;
		header h3 {
			margin: 0;
		}
	}

	article.unit {
		border: 1px dashed $primary-color ;
		margin-bottom: 5px;
		& > header {
			background-color: $primary-color;
			text-align: center;
			color: $secondary-color;
			font-size: larger;
			padding: 10px;
			display: flex;
			justify-content: space-between;
			a {
				color : $secondary-color;
				@media print {
					display: none;
				}
			}
		}
		&> main {
			padding: 5px;
			& > table {
				margin: 0 auto 10px;
				border-collapse: collapse;
				border: 1px dashed $secondary-color ;
				& > thead {
					background-color: $secondary-color;
				}
				th, td {
					padding: 3px 10px 2px;
				}
				tr td:not(:first-child), tr th:not(:first-child) {
					text-align: center;
				}
			}
		}
		& > footer {
			padding: 5px;
			background-color: $secondary-color;
			& > span:not(:last-child)::after{ 
				content : ',';
			}
		}
		
	}
	
}



