

//https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557
$header-color: #e63946;
$background-color :#f1faee; 
$primary-color:#457b9d;
$secondary-color:#a8dadc;
$footer-color:#1d3557;

// couleur de text qui sont les opposés
$text-color: $header-color;
$text-header-color: $background-color;
$text-footer-color: $background-color;


